
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200&display=swap');
/* GOOGLE FONTS */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}




/* services page */

.services-page {
  background: #175738;
  margin-top: 100px;
  background-image: url(../images/services-banner.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #023020;
  padding: 50px;
}


.services-page h1 {
  color: #c9a232;
  font-weight: 100;
}
.services-page h4 {
  color: #f5f5f7;
}

.services-page p {
  color: #f5f5f7;
  margin: 0;
  text-align: justify center;
  font-size: 14px;
  font-weight: 100;
}
/* end of service page */

.contactus-btn{
  font-weight: 500;
  font-size: 16px;
  background-color: #175738;
  margin-top: 10px;
  padding: 5px 15px;
  border: solid #175738 2px;
  box-shadow: none;
  border-radius: 5px;
  transition : 1000ms;
  transform: translateY(0);
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.contactus-btn a{
  text-decoration: none;
  color: #c9a232;
}
.contactus-btn a:hover{
  color: #175738;
}
.contactus-btn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-property: transform, opacity;
}

.contactus-btn i{
  font-size: 1.6em;
  transition: 0.3s ease;
  font-weight: 500;
}

.contactus-btn:hover i{
  transform: translateX(15px);
  
}
.contactus-btn:hover{
  transition : 1000ms;
padding: 5px 20px;
transform : translateY(-0px);
background-color: #c9a232;
color: #175738;
border: solid 2px #c9a232;

}

.GoldColor{
  color: #c9a232;
}